<h1>任務列表</h1>
  <table>
    <thead>
      <tr>
        <td>任務名稱</td>
        <td>任務內容</td>
        <td>處理</td>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title%></td>
          <td><%= task.content%></td>
          <td>
            <%= link_to "編輯", edit_task_path(task) %>
            <%= link_to "刪除", task_path(task), method: :delete, data:{confirm: "確定刪除？"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to "新增任務", new_task_path%>
