<h1><%= t("task.list")%></h1>
  <table>
    <thead>
      <tr>
        <td><%= t("task.title")%></td>
        <td><%= t("task.content") %></td>
        <td class="start_date"><%= t("task.start_date") %></td>
        <td class="end_date"><%= t("task.end_date") %></td>
        <td>處理</td>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= task.start_date.strftime("%Y/%m/%d") %></td>
          <td><%= task.end_date.strftime("%Y/%m/%d") %></td>
          <td>
            <%= link_to t("task.edit"), edit_task_path(task) %>
            <%= link_to t("task.delete"), task_path(task), method: :delete, data:{confirm: "確定刪除？"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to t("task.new"), new_task_path%>
<template>
    <tr>
      <td class="task_title"></td>
      <td class="task_content"></td>
      <td class="task_start_date"></td>
      <td class="task_end_date"></td>
      <td>
        <a href="" class = "task_edit">編輯</a>
        <a href="" class = "task_delete" data-method="delete" data-confirm="確定刪除？">刪除</a>
      </td>
    </tr>
</template>
